body {
  background: url("/images/solitude.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.container {
  background: rgba(0, 0, 0, 0.5);
  padding: 6%;
  border-radius: 25px;
}
img {
  margin: 10px;
}
