    <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='/images/foggymountain.jpeg' alt='A photo of a mountain.' class='img-responsive img-thumbnail'></li>
      <li><img src='/images/rockycoast.jpeg' alt='A photo of a a rocky beach.' class='img-responsive img-thumbnail'></li>
    </ul>
